<% action = list.persisted? ? list_url : lists_url %>
<% method = list.persisted? ? "put" : "post" %>
<% value = list.persisted? ? "Update List" : "Create List" %>


<form action="<%= action %>" method="post">
  <%= auth_token %>
  
  <input
    type="hidden"
    name="_method"
    value="<%= method %>">
  
  <label for="name">Name</label>
  <input
    id="name"
    type="name"
    name="list[name]">
    
  <input type="submit" value="<%= value %>">
  
</form>