<h2>Edit List</h2>
<a href="<%= lists_url %>">Back to Lists</a>

<%= render "form", list: @list, users: @users %>

<h4>Shared With</h4>
<ul>
  <% @list.shared_users.each do |user| %>
    <li>
      <%= user.name %>
    </li>
  <% end %>
</ul>