<h2>Lists</h2>

<ul>
  
<% @lists.each do |list| %>
  <li class="list">
    <a class="list-link" href="<%= list_url(list) %>"><%= list.name %></a>
    <%= button_to "Delete List", list_url(list), method: "delete", class: "delete-list" %>
  </li>
<% end %>

</ul>

<a href="<%= new_list_url %>">Add a List</a>