<div>

<form class="task-form" action="<%= tasks_url %>" method="post">
  <%= auth_token %>
  
  <input
    type="hidden"
    name="task[list_id]"
    value="<%= @list.id %>">
  
  <input
    id="name"
    type="text"
    name="task[name]">
    
  <input
    id="star"
    type="checkbox"
    name="task[starred]"
    value="<%= true %>">
    
  <input
    id="due-date"
    type="date"
    name="task[due_date]">
    
  <input type="submit" value="">
</form>