<div class="notifications-container">
  <%= image_tag "icons/bell.png", id: "notifications-bell" %>
  <div class="notifications-dropdown">

    <h1>Activity Center</h1>
    
    
    <% if current_user.unread_notifications.length > 0 %>
  
      <ul class="notification-ul">
      <% current_user.unread_notifications.each do |notification| %>
        
      <% end %>
      </ul>
      
    <% else %>
      <h3>No Activities</h3>
    <% end %>
  </div>
</div>


<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
<script>
  $(function(){
    $('#notifications-bell').on('click', function(event){
      event.stopPropagation();
      $('.notifications-container').toggleClass('show-activities');
    })
    
    $('.notifications-container').on('click', function(event){
      event.stopPropagation();
    })
    
    $('.notifications-container').on('click', 'a', function(event){
      var modelId = $(event.target).attr("data-id");
      var model = Wunderclone.Collections.lists.get(modelId);
      model.trigger("show");
    })
    
    var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>');
    var channel = pusher.subscribe('notifications-' + <%= current_user.id %>);
    channel.bind('new', function(data){
      Wunderclone.Collections.lists.fetch();
      // Wunderclone.Collections.notifications.fetch();
    })
    
    channel.bind('update', function(data){
      Wunderclone.Collections.lists.fetch();
      // Wunderclone.Collections.notifications.fetch();
    })
    
    channel.bind('destroy', function(data){
      Wunderclone.Collections.lists.fetch();
      // Wunderclone.Collections.notifications.fetch();
    })
  })
</script>