
<!--form should submit on unfocus -->
<!--cant submit form with empty name -->
<div class="edit-task-top group">
  
  <input
    id="name"
    type="text"
    value="<%= task.escape('name') %>"
    name="task[name]">
    
  <div class="star"></div>

</div>
<div class="edit-task-middle">
  <form class="edit-task-middle">
    <input
      id="due-date"
      type="date"
      name="task[due_date]">
    
  </form>
</div>

<div class="edit-task-bottom">
    <button class="delete-task">Delete</button>
</div>