<form class="task-form">
  
  <input type="hidden"
    name="task[list_id]"
    value="<%= list.id %>">
  
  <input
    id="star"
    type="hidden"
    name="task[starred]"
    value="<%= false %>">
  
  <input
    id="name"
    type="text"
    name="task[name]"
    placeholder="Add an item in &quot;<%= list.get('name') %>&quot;...">
    
  <!--add star -->
  
 
  <input
    id="due-date"
    type="date"
    name="task[due_date]">
    
 <div class="star"></div>
    
</form>