<form class="task-form">
  
  <input
    id="name"
    type="text"
    name="task[name]"
    placeholder="Add an item in <%= list.get('name') %>">
    
  <!--add star -->
    
  <input
    id="due-date"
    type="date"
    name="task[due_date]">
    
  <button>☆</button>
    
</form>