<form class="task-form">
  
  <input type="hidden"
    name="task[list_id]"
    value="<%= list.id %>">
  
  <input
    id="star"
    type="hidden"
    name="task[starred]"
    value="<%= false %>">
  
  
  
  <input
    id="name"
    type="text"
    name="task[name]"
    class="task-form-name"
    autocomplete="off"
    placeholder="Add an item in &quot;<%= list.get('name') %>&quot;...">
    
  <div class="star task-form-star"></div>
  
  <span class="task-form-date">
      <input
        id="due-date"
        type="date"
        name="task[due_date]">
  </span>
  
 
  
    
</form>