<div class="task-link" data-id="<%= task.id %>">
  <button class="complete-button"></button>

  <span class="task-name"><%= task.escape('name') %></span>
  
  <div class="star"></div>
  
  <span class="task-due_date"><%= task.escape('due_date') %></span>


</div>