
<span class="task-name"><a href="/edit/" class="task-link"><%= task.escape('name') %></a></span>

<button class="complete-button"></button>

<span class="task-due_date"><%= task.escape('due_date') %></span>

