<a href="#" class="task-link">
  
  <span><button class="complete-button"></button></span>
  
  <span class="task-name"><%= task.escape('name') %></span>

  <span class="task-due_date"><%= task.escape('due_date') %></span>

</a>

