<div class="app-container group">
  
  <section class="sidebar">  
    <%= render partial: "users/nav" %>
    
    <nav id="lists-index"></nav>
  </section>

  <div id="content-container" class="group">
    <section id="content">
    </section>
    <section id="side-content"></section>
  </div>
  
  <div id="modal-container">
  </div>
  
</div>

<script>

$(document).ready(function(){
  window.currentUserId = <%= current_user.id %>;
  Wunderclone.otherUsers = {};
  $.getJSON("api/users", function(data){
    data.forEach(function(user_data){
      Wunderclone.otherUsers[user_data['email']] = user_data['id'];
    })
  });
  
});


</script>