
<div class="app-container group">
  
  <section class="sidebar">  
    <%= render partial: "users/nav" %>
    
    <nav id="lists-index"></nav>
  </section>

  <div id="content-container" class="group">
    <section id="content">
    </section>
    <section id="side-content"></section>
  </div>
  
  <div id="modal-container">
  </div>
  
</div>