/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/core
 *= require jquery-ui/theme
 */



/* */

button{
  display: inline;
}

.group::after{
  display: block;
  clear: both;
  content: "";
}

.sidebar {
  /*TODO make scrollable*/
  position: relative;
  float: left;
  display: block;
  background: #FCFCFC;
  width: 272px;
  border-right: 1px solid gray;
  height: 100%;
}

.app-container{
  min-width: 100%;
  overflow: hidden;
  height: 100vh;
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

#content-container {
  /*TODO make scrollable*/
  display: block;
  height: 100vh;
  overflow: auto;
/*  padding: 0 13px;*/
  background: rgba(230,233,235,1);
  background: -moz-linear-gradient(45deg, rgba(230,233,235,1) 0%, rgba(3,65,128,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(230,233,235,1)), color-stop(100%, rgba(3,65,128,1)));
  background: -webkit-linear-gradient(45deg, rgba(230,233,235,1) 0%, rgba(3,65,128,1) 100%);
  background: -o-linear-gradient(45deg, rgba(230,233,235,1) 0%, rgba(3,65,128,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(230,233,235,1) 0%, rgba(3,65,128,1) 100%);
  background: linear-gradient(45deg, rgba(230,233,235,1) 0%, rgba(3,65,128,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e9eb', endColorstr='#034180', GradientType=1 );
}

#content{
  float: left;
  display: block;
  width: 100%;
  padding: 15px;
}

.hidden {
  display: none;
}

#side-content {
  padding: 15px;
  position: relative;
  display: none;
  float: right;
  width: 32%;
  height: 100%;
}

#content-container.expand > #content{
  width: 68%;
}

#content-container.expand > #side-content{
  display: block;
}