/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/core
 *= require jquery-ui/theme
 */



/* */

button{
  display: inline;
}

.group::after{
  display: block;
  clear: both;
  content: "";
}

.sidebar {
  /*TODO make scrollable*/
  position: relative;
  float: left;
  display: block;
  background: #FCFCFC;
  width: 272px;
  border-right: 1px solid gray;
  height: 100%;
}

.app-container{
  min-width: 100%;
  overflow: hidden;
  height: 100vh;
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

#content-container {
  /*TODO make scrollable*/
  display: block;
  height: 100vh;
  background-size: 100%;
  background-image: url(image-path('content-background.jpg'));
  background-repeat:no-repeat;
  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
  overflow: hidden;
}

#content{
  float: left;
  display: block;
  height: 100%;
  width: 100%;
  padding: 15px;
  overflow: auto;
}

.hidden {
  display: none;
}

#side-content {
  padding: 15px 15px 15px 0;
  position: relative;
  display: none;
  float: right;
  width: 340px;
  height: 100%;
}

#content-container.expand > #content{
  padding-right: 355px;
}

#content-container.expand > #side-content{
  display: block;
  position: absolute;
  right: 0;
}