/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body, h1, h2, h3, h4, ul, li, div, form {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
}

ul, li{
  list-style: none;
  display: block;
}

form.complete-form{
  display: block;
  float: left;
}
/*input[type="submit"] {
  display: block;
  float: left;
}*/

button{
  display: inline;
}

.group::after;{
  display: block;
  clear: both;
  content: "";
}

li.list{
  height: 40px;
  border: 1px solid black;
  padding: 10px;
}

.delete-list{
  display: block;
}

.delete-task{
  display: block;
}

.list-link{
  float: left;
  display: block;
  padding-right: 10px;
  padding-left: 10px;
  width: 100px;
}

li.task{
  height: 20px;
  border: 1px solid black;
  padding: 10px;
}

.task-name{
  float: left;
  display: block;
  padding-right: 10px;
  padding-left: 10px;
  width: 100px;
}

form.task-form{
  margin-bottom: 20px;
  margin-top: 20px;
}

li.task.completed{
  color: green;
}

li.task.active{
  color: blue;
}

h4.completed-items{
  margin: 10px;
}