.mini-list-view > h3 {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
  background-color: rgba(#000, .35);
  border-radius: 5px;
  padding: 3px 10px;
  color: white;
  text-transform: uppercase;
}