#landing-modal {
  background: #5B6466;
  display: block;
  width: 320px;
  height: 510px;
  z-index: 999;
  border-radius: 6px;
  padding: 15px;
}

#landing-modal ::-webkit-input-placeholder {
   color: #5B6466;
}


#landing-modal input[type="text"]{
  background: white;
  color: black;
}

#landing-modal input[type="password"]{
  background: white;
  color: black;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Center-Container {
  z-index: 999;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.background-image{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  
  width: 100%;
  height: 100%;
  display: block;
}

.background-image:before{
  width: 100%;
  height: 100%;
  display: block;
  background-size: 100%;
  background-image: url(image-path('landing/landing_background2.jpg'));
  background-repeat: no-repeat;
  content: "";
//  -webkit-filter: blur(1px);
//   -moz-filter: blur(1px);
//   -o-filter: blur(1px);
//   -ms-filter: blur(1px);
//   filter: blur(1px);
}

.logo-with-text{
  display:block;
  width: 100%;
  margin: 5px auto;
}

.logo {
  display: block;
  margin: 40px auto;
  width: 120px;
}

.sign-up-container{
  position: relative;
  top: 20px;
  display: block;
  margin: auto;
  width: 290px;
}


.sign-up,
.sign-in{
  margin-top: 20px;
  display: block;
  border: 1px solid #5B6466;
  background: white;
}


.sign-up > input[type="text"],
.sign-in > input[type="text"],
.sign-up > input[type="password"],
.sign-in > input[type="password"] {
  display: block;
  float: left;
  border-bottom: 1px solid #5B6466;
  width: 100%;
  padding: 15px;
}

.sign-up > input[type="submit"],
.sign-in > input[type="submit"]{
  display: inline;
  width: 250px;
  font-size: 20px;
  padding: 15px;
  border-radius: 6px;
  background: #13181B;
  text-align: center;
  color: white;
  margin: 20px;
}

.image-upload img{
  display: block;
  margin: auto;
}
.image-upload{
  width: 100%;
  height: 100px;
  background: #5B6466;
}

.image-upload > input
{
    display: none;
}

.back-button{
  position: absolute;
  bottom: 0;
  display:block;
  border-top: 1px solid #ccc;
  padding-top: 5px;
  background: transparent;
  text-align: center;
  width: 100%;
}

#landing-modal a{
  color: white;
}

.create-account-button,
.sign-in-button,
.try-it-button{
  display: block;
  font-size: 22px;
  padding: 10px;
  border-radius: 6px;
  background: #13181B;
  text-align: center;
  color: white;
  margin: 10px 10px;
}

.oauth-buttons{
  height: 60px;
  width: 100%;
  display: block;
  overflow: hidden;
}

.oauth-buttons > a{
  width: 125px;
  display: inline-block;
  font-size: 22px;
  padding: 10px 0;
//  margin: 10px;
  border-radius: 6px;
  background: #13181B;
  text-align: center;
  color: white;
  margin: 10px 10px;
}

a#google-button{
  float: right;
  color: #D9442F;
  margin-left: 1px;
}

a#facebook-button{
  float: left;
  color: #43609C;
  margin-right: 1px;
}

.landing-buttons{
  position: absolute;
  bottom: 0;
  width: 100%;
}