// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* List Index Styles */
#lists-index{
}
.lists-ul{
  overflow: auto;
}
.list-link{
  float: left;
  display: block;
  height: 35px;
  width: 268px;
  cursor: pointer;
}

.list-link > .list-name{
  display: inline-block;
  padding: 9px;
}

.task-count {
  display: inline-block;
  float: right;
  padding: 9px;
  color: #CBCBCB;
}

.list-link:active{
  background: #009AE4;
  color: white;
}

.selected-list {
  background: #009AE4;
  color: white;
}

.edit-button{
  display: none;
  float: right;
  padding: 12px;
  border-left: 1px solid #fff;
  margin-left: 5px;
  color: #CBCBCB;
}

.edit-button:hover{
  color: #fff;
}

.editable > .edit-button {
  display: inline-block;
}

.add-list-container {
  border-top: 1px solid gray;
  position: absolute;
  bottom: 0;
  font-size: 40px;
  display: block;
  height: 40px;
  width: 100%;
  color: #A3A3A2;
}

.add-list-container > a{
  position: absolute;
  display: inline-block;
  height: 40px;
  bottom: 4px;
  width: 100%;
  text-align: center;
  color: #A3A3A2;
}

.add-list-container:hover{
  cursor: pointer;
}

.add-list-container:hover > a {
  color: #737272;
}


/*Edit List Modal Styles*/


#modal {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

#modal.is-active {
  display: block;
}

#modal:before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#modal > article {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 395px;
  height: 450px;
  margin-bottom: 100px;
  margin-left: -197.5px;
  min-height: 200px;
  padding: 50px;
  background: white;
  border-radius: 5px;
}

#modal > article > h1 {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

#modal .hide-modal {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  color: gray;
}

#modal .hide-modal:hover {
  color: black;
}

.delete-list{
  display: block;
}

/**/



.list-form > input[type="text"]{
  display: block;
  border: 2px solid black;
  padding: 5px;
  width: 600px;
  border-radius: 5px;
}
.edit-list-toolbar {
  display: block;
  width: 200px;
  margin: auto;
}

.list-show{
  width: 100%;
}

.show-completed-button{
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
  background: gray;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 3px 10px;
  color: white;
}