// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* List Index Styles */
#lists-index{
}
.lists-ul{
}
.list-link{
  float: left;
  display: block;
  height: 35px;
  width: 100%;
  cursor: pointer;
}

.list-link > .list-name{
  width: 160px;
  display: inline-block;
  padding: 9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-count {
  display: inline-block;
  float: right;
  padding: 9px;
  color: #CBCBCB;
}

.list-link:active{
  background: #009AE4;
  color: white;
}

.selected-list {
  background: #009AE4;
  color: white;
}

.edit-button{
  display: none;
  float: right;
  height: 100%;
  width: 16px;
  background-image: url(image-path('icons/pencil.png'));
  background-size: 15px 15px;
  background-repeat: no-repeat;
}

.edit-button:hover{
  color: #fff;
}

.editable .edit-button-container{
  float: right;
  border-left: 1px solid #fff;
  display: inline-block;
  padding: 10px;
  height: 100%;
  width: 37px;
}

.editable .edit-button,
.editable .edit-button-container {
  display: inline-block;
}

.add-list-container {
  border-top: 1px solid gray;
  position: absolute;
  bottom: 0;
  font-size: 40px;
  display: block;
  height: 40px;
  width: 100%;
  color: #A3A3A2;
}

.add-list-container > a{
  position: absolute;
  display: inline-block;
  height: 40px;
  bottom: 4px;
  width: 100%;
  text-align: center;
  color: #A3A3A2;
}

.add-list-container:hover{
  cursor: pointer;
}

.add-list-container:hover > a {
  color: #737272;
}

.list-form > input[type="text"]{
  display: block;
  border: 2px solid black;
  padding: 5px;
  width: 600px;
  border-radius: 5px;
}
.edit-list-toolbar {
  display: block;
  width: 200px;
  margin: auto;
}

.list-show{
  width: 100%;
}

.show-completed-button{
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
  background-color: rgba(#000, .35);
  border-radius: 5px;
  padding: 3px 10px;
  color: white;
}

.list-icon{
  display: inline-block;
  float: left;
  margin-left: 10px;
  margin-top: 8px;
  height: 100%;
  width: 20px;
  background-image: url(image-path('icons/list.png'));
  background-size: 18px 18px;
  background-repeat: no-repeat;
}

.list-icon.starred {
  background-image: url(image-path('icons/star.png'));
}

.list-icon.inbox {
  background-image: url(image-path('icons/inbox.png'));
}

.list-icon.today {
  background-image: url(image-path('icons/today.png'));
}

.list-icon.sharred {
  background-image: url(image-path('icons/sharred.png'));  
}