// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li.list{
}

.delete-list{
  display: block;
}

.list-form > input[type="text"]{
  display: block;
  border: 2px solid black;
  padding: 5px;
  width: 600px;
  border-radius: 5px;
}

.list-link{
  float: left;
  display: block;
  height: 40px;
  width: 268px;
  padding: 10px;
}

.list-link:active{
  background: #009AE4;
  color: white;
}

.selected-list {
  background: #009AE4;
  color: white;
}

.list-edit-link {
  display:inline-block;
  float: right;
  width: 35px;
  height: 100%;
  border-left: 1px solid black;
  padding: 10px 0 0 0;
  text-align: center;
}

.edit-list-toolbar {
  display: block;
  width: 200px;
  margin: auto;
}

.add-list-link {
  border-top: 1px solid gray;
  position: absolute;
  text-align: center;
  bottom: 0;
  font-size: 40px;
  display: block;
  width: 100%;
}

.task-count {
  float: right;
}

.tasks-list h5{
  display: inline-block;
  margin-left: 30px;
  font-size: 12px;
  font-weight: 300;
  padding: 5px;
  background: gray;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
}


.delete-list {
  position: relative;
  display: inline-block;
//  padding: 10px 20px;
  font-weight: bold;
  background: white;
  color: black;
  box-shadow: 0 3px 0 0 black;
  border-radius: 5px;
}

.delet-list:hover {
  background: red;
}

.delete-list:active {
  top: 3px;
  box-shadow: none;
  background: white;
}

.list-show{
  width: 100%;
}

.show-completed-button{
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
  background: gray;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  color: white;
}