// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.active-tasks{
  padding-top: 14px;
//  margin-bottom: 0;
}

.star:hover{
  cursor: pointer;
}

.star:before{
  content:"★";
  display:inline-block;
//  font-size: 20px;
  color: #C6C6C6;
}

.starred:before{
  color: #E2342C; 
}

/* Styles for task show subview */

li.task{
//  height: 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.task-link{
  display: block;
  font-size:14px;
  line-height: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 2px;
//  margin-top: 15px;
  padding: 10px 8px 0 8px;
  height: 37px;
  width: 100%;
  background: #F7F8F8;
  box-shadow: 0 1px 2px 0 #9AABB0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.task-link > .star {
  float: right;
  font-size: 15px;
}

.task-due_date{
  float: right;
  font-size: 11px;
  font-weight: bold;
  color: #0A9DE5;
  position: relative;
  padding-right: 10px;
  top: 1px;
}

.task-name{
  float: left;
  position: relative;
  padding-top: 1px;
}

form.complete-form{
//  display: block;
  float: left;
}

.complete-button {
  position: relative;
  display: inline-block;
  float: left;
  padding: 7px 7px;
  margin-right: 8px;
  background: transparent;
  border: solid 1px #B4B4B4;
  border-radius: 4px;
}

.complete-button:hover {
  cursor: pointer;
};

.complete-button:active {
  -moz-box-shadow:    inset 0 0 10px #CECECE;
  -webkit-box-shadow: inset 0 0 10px #CECECE;
  box-shadow:         inset 0 0 10px #CECECE;
}

.selected-task{
  background: #DDEAF6;
}

.task-form{
  display: block;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(#000, .35);
  color: white;
  margin-bottom: 0;
  height: 37px;
  font-size: 15px;
}

.task-form > input[type="text"] {
//  max-width: 100%;
  width: 100%;
  color: white;
}

.task-form.active-task-form > input[type="text"]{
  max-width: 80%;
  width: 70%;
}

.task-form > input[type="submit"]{
  display: none;
}

.task-form .star{
  float: right;
  display: none;
  cursor: pointer;
  font-size: 17px;
}

.task-form-date{
  display: none;
  float: right;
  margin-right: 10px;
}

.task-form.active-task-form .task-form-date,
.task-form.active-task-form .star{
  display: inline-block;
}



/* Styles for task edit/side view */

.edit-task-view{
  position: relative;
  height: 100%;
  background: #F7F8F8;
  border-radius: 5px;
}

.edit-task-top{
  padding: 11px;
  background: #fff;
  border-radius: 5px;
}

.edit-task-top > #name{
  display: inline-block;
  width: 85%;
  float: left;
}

.edit-task-top > .star{
  font-size: 25px;
  float: right;
}

.edit-task-middle{
//  height: 100%;
  padding: 10px 10px;
  background: #FCFCFC;
  overflow: auto;
}

.edit-task-middle > input{
  display: block;
  padding: 5px;
  width: 100%;
}

.edit-task-bottom {
  position: absolute;
  bottom: 0;
  padding: 0 10px;
  display: block;
  width: 100%;
  height: 80px;
  background: #fff;
  border-radius: 5px;
}

.delete-task{
  display: inline-block;
  position: relative;
  margin-left: 15px;
  top: 55px;
  float: right;
  height: 100%;
  width: 20px;
  background-image: url(image-path('icons/trash.png'));
  background-size: 18px 18px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.hide-edit{
  display: inline-block;
  position: relative;
  top: 52px;
  float: left;
  height: 100%;
  width: 20px;
  background-image: url(image-path('icons/arrowhead.png'));
  background-size: 18px 26px;
  background-repeat: no-repeat;
  cursor: pointer;
}

#map{
//  position: absolute;
  margin-top: 50px;
  width: 100%;
//  height: 100%;
  height: 300px;
}