// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sign-up > input {
  display: block;
  border: 2px solid black;
  padding: 5px;
  width: 286px;
  border-radius: 5px;
}

.sign-up > input:focus {
  border-color: red;
}