// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* User Nav View style */
#user-nav{
  display: block;
  height: 38px;
  padding: 3px;
}

.avatar {
  width:25px;
  height:25px;
  float: left;
  margin: 6px;
}

.user-email{
  display: inline-block;
  width: 130px;
  float: left;
  padding: 11px 4px;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#sign-out-button{
/*  width: 45px;*/
  height: 30px;
  display: inline-block;
  color: black;
  float: right;
  padding: 11px 4px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}
