<span class="list-icon"></span>
<span class="list-name"><%= list.escape('name') %></span>
<span class="edit-button-container">
  <span class="edit-button"></span>
</span>
<span class="task-count"><%= activeTasks.length %></span>
