<section id="modal">
    <article>
      <span class="hide-modal">&times;</span>

      <h1>Edit list</h1>
      
      <form class="edit-list-form">
        <input
          type="text"
          name="list[name]"
          value="<%= list.escape("name") %>">
      </form>
      
      <button class="delete-list">Delete</span>
      
    </article>
</section>