<section id="modal">
    <article>
      
      <div id="top-modal-container">
        <h1>Edit List</h1>
      
        <form class="edit-list-form">
        
          <input
            type="text"
            name="list[name]"
            value="<%= list.escape("name") %>"
            placeholder="List Name">
          
          <div id="list-settings-select-container">
            <h5>List Members</h5>
          </div>
        
        </form>
        
        <form id="share-user-form">
          <input
            type="text"
            name="user_email"
            placeholder="Email Address...">
        </form>
        
        <ul id="list-members-ul"></ul>
        <% list.get("shared_users").forEach(function(user){ %>
          <li>
            <%= user.name %>
          </li>
        <% }) %>
      </div>
      
      <div id="cancel-save-container">
        <button class="delete-list">Delete</span>
        <button id="save-list-button">Done</button>
      </div>  
    </article>
    
</section>