<label for="name">Name</label>
<input
  id="name"
  type="text"
  name="list[name]"
  value="<%= list.escape('name') %>">
  
<!-- <label for="users">Select List Member</label> -->
<!--TODO find backbone way of doing this -->
  
<input type="submit"></input>