<!-- <label for="users">Select List Member</label> -->
<!--TODO find backbone way of doing this -->
<section id="modal">
    <article>
      
      <div id="top-modal-container">
        <h1>Create New list</h1>
      
        <form class="new-list-form">
        
          <input
            type="text"
            name="list[name]"
            autocomplete="off"
            placeholder="List Name">
          
          <div id="list-settings-select-container">
            <h5>List Members</h5>
          </div>
          
        </form>
        
        <form id="share-user-form">
          <input
            type="text"
            name="user_email"
            autocomplete="off"
            placeholder="Email Address...">
        </form>
        
        <ul id="list-members-ul"></ul>
      </div>
      
      <div id="cancel-save-container">
        <button id="save-list-button">Save</button>
        <button class="hide-modal" id="cancel-new-button">Cancel</button>
      </div>  
    </article>
    
</section>