<div id="task-form">
  
</div>

<ul id="tasks">
  
</ul>

  <% if (list.completedTasks.length > 0){ %>
     <h5>COMPLETED ITEMS</h5>
   
     <ul class="completed-task task group">
       
     </ul>
  <% } %>