<div id="task-form">
  
</div>

<ul id="active-tasks">
  
</ul>

 <% if (list.completedTasks().length > 0){ %>
    <a href="#" class="show-completed-button">COMPLETED ITEMS</a>
 <% } %>
   
<ul id="completed-tasks" class="completed-task-list">
</ul>